.page{
    padding: 0 0.50rem !important;
}


.page h1{
    font-size: 2rem !important;
}

.page p{
    font-size: 1rem !important;
    padding: 0;
}


.btn{
    padding: 0.50rem 0.75rem !important;
    margin-top: 0.25rem !important;
    font-size: 0.75rem !important;
}