.page{
    padding: 0 0.50rem !important;
}


.page h1{
    font-size: 2.5rem !important;
}

.page p{
    font-size: 1.1rem !important;
    padding: 0;
}


.btn{
    padding: 0.75rem 1rem !important;
    margin-top: 0.75rem !important;
    font-size: 1rem !important;
}